*{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}   
html{
    box-sizing: border-box;

}    
body{
    font-size: $fs-1;
    font-family: 'Open Sans', sans-serif;
    line-height: $lh-0;
    color: $color-text-1b;
    background: $color-text-4;
    

}
a{
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

ul{
    list-style: none;
    margin-bottom: 0;
}
//  h1, h2, h3, h4, h5, h6, p{
//      margin-bottom: 0;
// }

 










