.partners{
    background-color: $color-bg-5;
    padding: $pd-3;
    .partners__content{
        width: 70%;
        margin: 0 auto;
    }
}

@include responsive("xl"){
    .partners{
        .partners__content{
            width: 80%;
        }
    }
}

@include responsive("lg"){
    .partners{
        .partners__content{
            width: 90%;
        }
    }
}

@include responsive("md"){
    .partners{
        .partners__content{
            width: 60%;
            .partners__item{
                width: 50%;
                text-align: center;
                margin-bottom: $mg-1;
            }
        }
    }
}

@include responsive("sm"){
    .partners{
        .partners__content{
            width: 60%;
            .partners__item{
                width: 100%;
                text-align: center;
                margin-bottom: $mg-1;
            }
        }
    }
}